[submodule "client/vendor/box2d"]
	path = client/vendor/box2d
	url = https://github.com/erincatto/box2d/
[submodule "client/vendor/glm"]
	path = client/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "client/vendor/imgui"]
	path = client/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "server/vendor/pistache"]
	path = server/vendor/pistache
	url = https://github.com/pistacheio/pistache.git
